
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.navbar{
  background-color: #f05837;
}
#logout-button{
  background-color: white;
  color:black;
  border:1px #f0b638 solid;

}
#logout-button:hover{
  background-color: #33AEFF;
  color:white;
  border:1px #f0b638 solid;

}
#Main label,#Main h1,#Main h2{
  color:white;
}
